@import url(../fonts/open_sans/stylesheet.css);
@import url(../fonts/open_sans_bold/stylesheet.css);
@import url(../fonts/open_sans_light/stylesheet.css);
@import url(../fonts/droid_sans/stylesheet.css);
@import url(../fonts/droid_sans_bold/stylesheet.css);
@import url(../fonts/droid_serif/stylesheet.css);
@import url(../fonts/droid_serif_bold/stylesheet.css);
@import url(../fonts/droid_serif_bold_italic/stylesheet.css);
@import url(../fonts/droid_serif_italic/stylesheet.css);

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    font-family: open_sansregular;
    font-size: 14px;
    color: #000;
    background: url("/images/bg_pattern.jpg");
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h1 {
    font-size: 24px;
    font-family: droid_serifbold;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #db2300;
    font-family: open_sansbold;
}

a:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}

.opacity_05 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.clearfix {
    overflow: hidden;
}

.header {
    background: #db2300;
    padding-top: 11px;
    height: 61px;
    color: #fff;
    text-transform: uppercase;
}

.header__content {
    width: 730px;
    margin: 0 auto;
}

.header h2 {
    font-family: droid_serifbold;
    font-size: 24px;
    line-height: 24px;
}

.header p {
    font-family: droid_sansbold;
    font-size: 11px;
    line-height: 16px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: -72px auto -168px;
}

.wrapper .content {
    padding: 72px 0 168px;
}

.start-page {
}

.start-page__present {
    float: left;
    width: 275px;
    padding: 6px 34px 0 50px;
}

.start-page__present img {
    display: block;
}

.start-page__description {
    width: 371px;
    padding-right: 45px;
    float: left;
    padding-top: 52px;
}

.start-page__description h1 {
    height: 51px;
    color: #48b500;
}

.start-page__description p {
    padding-bottom: 24px;
    line-height: 24px;
    color: #a8a8a8;
    word-spacing: -1px;
}

.questions-sprite {
    background: url("/images/questions_sprite.png") no-repeat;
}

.questions-sprite__snowflake {
    width: 30px;
    height: 26px;
    display: block;
    background-position: -113px 0;
}

.questions-sprite__previous {
    width: 9px;
    height: 13px;
    display: block;
    background-position: -143px 0;
}

.question-page {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    width: 668px;
    height: 378px;
    margin: 0 auto;
    position: relative;
    padding-left: 105px;
}

.question-page__step {
    width: 70px;
    height: 57px;
    margin: 0 auto;
    color: #fff;
    font-size: 30px;
    line-height: 24px;
    font-family: droid_sansbold;
    position: absolute;
    top: 0;
    left: 0;
    padding: 59px 0 0 43px;
}

.question-page__step span {
    float: left;
}

.question-page__step__number {
    padding-top: 12px;
}

.question-page__step__number.steps-amount {
    margin-left: 1px;
    color: #ff6f6f;
    font-size: 14px;
    font-family: droid_sansbold;
    position: relative;
    bottom: 5px;
}

.question-page__content {
    height: 288px;
}

.question-page h4 {
    color: #000;
    font-family: droid_sansbold;
    font-size: 11px;
    text-transform: uppercase;
    padding-top: 47px;
}

.question-page h1 {
    font-family: droid_serifbold;
    font-size: 30px;
    color: #000;
    padding-top: 14px;
}

.question-page__variants {
    font-family: open_sansbold;
    font-size: 18px;
    padding-top: 20px;
    height: 170px;
}

.question-page__variants__item {
    padding: 6px 0 6px 43px;
    display: block;
}

.question-page__variants a {
    color: #d1d1d1;
}

.question-page__variants__selected {
    color: #48b500;
    position: relative;
}

.question-page__variants__selected .questions-sprite__snowflake {
    position: absolute;
    left: 0;
}

.question-page__navigation {
    padding-left: 278px;
}

.question-page__navigation .green-button {
    float: right;
    height: 45px;
    width: 163px;
    margin-right: 41px;
}

.question-page__navigation .green-button__content {
    height: 42px;
    width: 160px;
    font-size: 18px;
    line-height: 40px;
}

.question-page__navigation__previous {
    color: #cecece;
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    padding: 18px 0 0 10px;
    line-height: 11px;
}

.question-page__navigation__previous .questions-sprite__previous {
    float: left;
    margin-right: 7px;
}

.loading-page {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    width: 773px;
    height: 378px;
    margin: 0 auto;
    position: relative;
}

.loading-page__content {
    width: 430px;
    margin: 0 auto;
}

.loading-page h1 {
    color: #48b500;
    font-size: 24px;
    font-family: droid_serifbold;
    text-align: center;
    padding-top: 47px;
    line-height: 35px;
}

.loading-page p {
    color: #a8a8a8;
    padding-top: 10px;
    padding-left: 24px;
    line-height: 24px;
}

.loader-sprite {
    background: url("/images/loader_sprite.png") no-repeat;
}

.loading-page__loader {
    width: 395px;
    height: 10px;
    background-position: -59px -10px;
    margin: 54px 0 0 18px;
}

.loading-page__loader__filler {
    width: 0;
    height: 10px;
    background-position: -59px 0;
    position: relative;
}

.loading-page__loader__filler__sledge {
    width: 59px;
    height: 35px;
    position: absolute;
    right: -44px;
    top: -14px;
}

.final-page .title-description {
    text-align: center;
}

.final-page .rewards-list {
    color: #cbcbcb;
}

.final-page .rewards-list-item {
    display: block;
}

.final-page .rewards-list h3 {
    font-size: 24px;
    line-height: 24px;
    font-family: open_sansbold;
    color: #000;
}

.final-page .rewards-list__code span {
    color: #000;
}

.final-page .rewards-list__price span {
    font-size: 18px;
    line-height: 24px;
}

.final-page .rewards-list__copyright {
    color: #27bf67;
    line-height: 17px;
    display: block;
}

.final-page .rewards-list__price.price-regular span {
    margin-left: 4px;
    color: #d2d2d2;
}

.final-page .rewards-list__price.price-your span {
    color: #f43030;
    margin-left: 6px;
}

.final-page .rewards-list__price.price-shipping span {
    color: #4a4a4a;
    margin-left: 6px;
}

.final-page {
    width: 730px;
    margin: 0 auto;
}

.final-pageh1 {
    text-align: center;
    padding-top: 58px;
}

.final-page.title-description {
    padding-top: 23px;
}

.final-page.rewards-list {
    margin-left: -1px;
    padding-top: 44px;
}

.final-page.rewards-list-item {
    padding-bottom: 48px;
}

.final-page.rewards-list-item__picture {
    float: left;
}

.final-page.rewards-list-item__description {
    float: left;
    padding-left: 24px;
}

.final-page.rewards-list h3 {
    height: 33px;
    line-height: 30px;
    margin-top: -2px;
}

.final-page.rewards-list__code {
    height: 43px;
}

.final-page.rewards-list__prices {
    height: 56px;
}

.final-page.rewards-list__prices li {
    display: inline;
}

.final-page.rewards-list__copyright {
    padding-top: 10px;
}

.final-page.rewards-list__price.price-your {
    margin-left: 16px;
}

.final-page.rewards-list__price.price-shipping {
    margin-left: 15px;
}

.green-button {
    padding: 3px 0 0 3px;
    height: 70px;
    width: 225px;
    background: #348200; /* Old browsers */
    background: -moz-linear-gradient(top, #50c900 0%, #348200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50c900), color-stop(100%, #348200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #50c900 0%, #348200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #50c900 0%, #348200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #50c900 0%, #348200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #50c900 0%, #348200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50c900', endColorstr='#348200', GradientType=0); /* IE6-9 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.green-button__content {
    height: 67px;
    width: 222px;
    display: block;
    background: #3f9e00; /* Old browsers */
    background: -moz-linear-gradient(top, #48b500 0%, #388e00 76%, #388e00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48b500), color-stop(76%, #388e00), color-stop(100%, #3f9e00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #48b500 0%, #388e00 76%, #3f9e00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #48b500 0%, #388e00 76%, #3f9e00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #48b500 0%, #388e00 76%, #3f9e00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #48b500 0%, #388e00 76%, #3f9e00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48b500', endColorstr='#3f9e00', GradientType=0); /* IE6-9 */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    line-height: 64px;
    text-shadow: 0 1px 1px rgba(18, 151, 74, 1);
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-family: droid_serifbold;
}

.green-button.disabled {
    filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    background: #e9e9e9;
    cursor: default;
}

.green-button.disabled .green-button__content {
    filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    background: #e9e9e9;
    text-shadow: 0 1px 1px rgba(212, 211, 211, 1);
}

.green-button:hover {
    text-decoration: none;
}

.footer {
    line-height: 14px;
    font-size: 10px;
    color: #c5c5c5;
    text-align: center;
}

.footer .player {
    margin: 0 auto;
    padding-top: 33px;
    height: 49px;
    padding-bottom: 35px;
}

.footer__copyright {
    height: 50px;
}

.player {
}

.player__content {
    width: 227px;
    margin: 0 auto;
}

.player__update {
    padding-top: 4px;
    color: #eb5c5c;
}

.player-sprite {
    background: url('../images/player_sprite.png');
}

.player__play, .player__pause {
    width: 38px;
    height: 48px;
    float: left;
}

.player-sprite.player__pause {
    background-position: -1px -1px;
}

.player-sprite.player__play {
    background-position: -40px -2px;
}

.player-sprite.player__bar {
    margin-top: 24px;
    width: 181px;
    height: 10px;
    background-position: -78px -13px;
    float: right;
}

.player-sprite.player__bar__filler {
    float: left;
    height: 100%;
    background-position: -78px -2px;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

.modal__bg {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal__content {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -388px;
}

.modal__shown {
    overflow: hidden;
}