* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Verdana, Arial;
    font-size: 12px;
    color: #000;
    line-height: 1.1;
}

.hide {
    display: none;
}

.opacity_05 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.clearfix {
    overflow: hidden;
}

.sprite {
    background: url("../images/sprite.png") no-repeat;
}

.sprite.sprite-option {
    display: block;
    width: 13px;
    height: 13px;
    background-position: 0 -9px;
}

.sprite.sprite-option-enabled {
    display: block;
    width: 13px;
    height: 13px;
    background-position: 0 -23px;
}

.header {
    background: #58d2c1;
    height: 60px;
    color: #fff;
    margin-bottom: 11px;
}

.header__logo {
    float: left;
    background: #f9f9f9;
    height: 100%;
    width: 173px;
}

.header__logo img {
    margin: 11px 0 0 14px;
}

.header__visitor {
    float: left;
    padding: 10px 0 0 11px;
}

.header h2 {
    font-size: 24px;
    padding-top: 3px;
}

.header time {
    float: right;
    font-size: 10px;
    padding: 41px 11px 0 0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -145px 0;
}

.wrapper .content {
    padding-bottom: 165px;
    margin: 0 auto;
    width: 774px;;
}

.start-page__header {
    background-color: #58d2c1;
    height: 37px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    line-height: 36px;
    padding-left: 10px;
}

.start-page__header__close {
    background: #67e1d0;
    position: absolute;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    right: 11px;
    top: 7px;
}

.start-page__header__close span {
    display: block;
    width: 11px;
    height: 11px;
    background-position: 0 -121px;
    margin: 4px 0 0 5px;
}

.start-page__footer {
    padding: 10px;
    background-color: #ebebeb;
    height: 35px;
}

.start-page__footer .red-button {
    width: 60px;
    float: right;
}

.start-page__description {
    padding: 28px 0 18px 11px;
}

.start-page__description h1 {
    font-size: 12px;
    padding-bottom: 25px;
}

.start-page__description p {
    padding-bottom: 22px;
    line-height: 19px;
}

.start-page__description p:last-child {
    padding-bottom: 0;
}

.survey-assistant {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
}

.survey-assistant img {
    float: left;
}

.survey-assistant__description {
    float: left;
    padding: 4px 0 0 12px;
    width: 630px;
}

.survey-assistant__description p {
    line-height: 20px;
    padding-bottom: 20px;
}

.survey-assistant__description p:last-child {
    padding-bottom: 0;
}

.question-page {
    border: 8px solid #ebebeb;
}

.question-page__header {
    background: #58d2c1;
    height: 29px;
    position: relative;
    font-weight: bold;
    padding-left: 27px;
    line-height: 30px;
    color: #fff;
}

.question-page__header__pointer {
    position: absolute;
    top: 29px;
    left: 26px;
    width: 19px;
    height: 8px;
}

.question-page__content {
    padding: 26px 0 40px 29px;
}

.question-page__content .red-button {
    width: 112px;
}

.question-page h1 {
    font-size: 14px;
}

.question-page__variants {
    padding: 20px 0 14px 0;
}

.question-page__variants__item {
    padding: 6px 0 3px 22px;
    display: block;
    position: relative;
}

.question-page__variants a {
    color: #000;
    text-decoration: none;
}

.question-page__variants__item .sprite-option,
.question-page__variants__item .sprite-option-enabled {
    position: absolute;
    left: 0;
}

.loading-page {
    background: #fff;
    height: 378px;
}

.loading-page__content {
    width: 440px;
    margin: 0 auto;
}

.loading-page h1 {
    color: #48b500;
    font-size: 24px;
    font-family: droid_serifbold;
    text-align: center;
    padding-top: 47px;
    line-height: 35px;
}

.loading-page p {
    color: #a8a8a8;
    padding-top: 10px;
    padding-left: 24px;
    line-height: 24px;
}

.loader-sprite {
    background: url("../images/loader_sprite.png") no-repeat;
}

.loading-page__loader {
    width: 395px;
    height: 10px;
    background-position: -59px -10px;
    margin: 54px 0 0 18px;
}

.loading-page__loader__filler {
    width: 0;
    height: 10px;
    background-position: -59px 0;
    position: relative;
}

.loading-page__loader__filler__sledge {
    width: 59px;
    height: 35px;
    position: absolute;
    right: -44px;
    top: -14px;
}

.final-page__header h1 {
    color: #48b500;
    font-size: 24px;
    text-align: center;
    padding-top: 11px;
    line-height: 36px;
}

.final-page__header p {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    line-height: 24px;
}

.final-page .rewards-list-item {
    display: block;
    padding: 0 93px 20px 75px;
}

.final-page .rewards-list h3 {
    color: #000;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
}

.final-page .rewards-list__code span {
    color: #000;
}

.final-page .rewards-list__price span {
    line-height: 18px;
}

.final-page .rewards-list__copyright {
    color: #183d9b;
    display: block;
    line-height: 17px;
}

.final-page .rewards-list__price.price-regular span {
    margin-left: 4px;
    color: #000;
    font-size: 12px;
}

.final-page .rewards-list__price.price-your span {
    color: #b80403;
    margin-left: 6px;
    font-size: 12px;
    font-weight: bold;
}

.final-page .rewards-list__price.price-shipping span {
    color: #4a4a4a;
    margin-left: 6px;
    font-size: 12px;
}

.final-page .rewards-list {
    padding: 15px 0 0 15px;
}

.final-page .rewards-list-item__picture {
    float: left;
    height: 110px;
    padding-right: 20px;
    width: 150px;
}

.final-page .rewards-list__code {
    height: 18px;
}

.final-page .rewards-list__prices {
    height: 56px;
    color: #000;
}

.final-page .rewards-list__prices li {
    display: block;
    font-size: 12px;
    margin: 0 !important;
}

.final-page .rewards-list__price.price-shipping {
    margin-left: 15px;
}

.red-button {
    height: 29px;
    background: #bc2c1a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    border-bottom: 2px solid #8a1304;
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 30px;
    text-align: center;
}

.footer {
    line-height: 14px;
    font-size: 10px;
    color: #c5c5c5;
    text-align: center;
}

.footer a {
    color: #58d2c1;
    font-weight: bold;
    text-decoration: none;
}

.footer .player {
    padding-bottom: 27px;
}

.player__content {
    width: 218px;
    margin: 0 auto;
}

.player__update {
    padding-top: 4px;
    color: #eb5c5c;
}

.player__play, .player__pause {
    width: 22px;
    height: 22px;
    float: left;
}

.sprite.player__pause {
    background-position: 0 -38px;
}

.sprite.player__play {
    background-position: 0 -61px;
}

.player__bar {
    width: 176px;
    height: 10px;
    background: #dcdcdc;
    border: 6px solid #efefef;
    float: right;
}

.player__bar__filler {
    float: left;
    height: 100%;
    background: #bc2c1a;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

.modal__bg {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal__content {
    width: 450px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -225px;
    background-color: #fff;
    padding: 5px;
}

.modal__shown {
    overflow: hidden;
}

.rewards-list-item.clearfix > p {
    float: right;
    margin-right: 28px;
    margin-top: -20px;
}

.yellow-highlighted {
    background: #ffff00;
}

.color-red {
    color: #f70300;
}